
	body {
		font-family: Arial, sans-serif;
		background-color: #336273;
		margin: 0;
		padding: 0;
	}
	h1 {
		color: #fff;
	}

	.text-1{
		color : #fff
	}
	.text-2{
		color : #dddd23
	}
	.text-3{
		color : #qqqq23
	}
	